.vs/PointsBasketballGames/v16/.suo
.vs/PointsBasketballGames/v16/
.vs/PointsBasketballGames/DesignTimeBuild/.dtbcache
src/PointsBasketballGames.App/bin/
src/PointsBasketballGames.App/obj/
src/PointsBasketballGames.Domain.Core/bin/
src/PointsBasketballGames.Domain.Core/obj/
src/PointsBasketballGames.Domain/bin/
src/PointsBasketballGames.Domain/obj/
src/PointsBasketballGames.Infra.CorssCutting/bin/
src/PointsBasketballGames.Infra.CorssCutting/obj/PointsBasketballGames.Infra.CorssCutting.csproj.nuget.cache
src/PointsBasketballGames.Infra.CorssCutting/obj/
src/PointsBasketballGames.Infra.Data/bin/
src/PointsBasketballGames.Infra.Data/obj/
src/PointsBasketballGames.Test/bin/
src/PointsBasketballGames.Test/obj/
src/PointsBasketballGames.Web.App/bin/
src/PointsBasketballGames.Web.App/obj/
packages/
