<div id="contactform" class="rounded">
    <div class="form-group">
        <div class="row">
            <div class="col-md-2" style="font-size:22px"><strong>Resultados</strong> </div>
            <div style="text-align:right" class="col-md-10">
                <strong style="color:#ad75ad">{{FirstDate}}</strong>
                <strong>até</strong> <strong style="color:#ad75ad">{{EndDate}}</strong>
            </div>
        </div>
        <br />
        <div class="field">
            <div class="form-group">
                <div class="row">
                    <label class="col-md-4">Jogos disputados </label><br />
                    <label class="col-md-8 resultPoints">{{GamesPlayed}}</label><br />
                </div>
                <div class="row">
                    <label class="col-md-6">Total de pontos marcados na temporada </label><br />
                    <label class="col-md-6 resultPoints">{{TotalPointsScoredSeason}}</label><br />
                </div>
                <div class="row">
                    <label class="col-md-4">Média de pontos por jogo</label><br />
                    <label  class="col-md-8 resultPoints">{{AveragePointsPerGame}}</label><br />
                </div>
                <div class="row">
                    <label class="col-md-6">Maior pontuação em um jogo</label><br />
                    <label class="col-md-6 resultPoints">{{HighestScoreGame}}</label><br />
                </div>
                <div class="row">
                    <label class="col-md-6">Menor pontuação em um jogo </label><br />
                    <label class="col-md-6 resultPoints">{{LowestScoreGame}}</label><br />
                </div>
                <div class="row">
                    <label class="col-md-6">Quantidade de vezes que bateu o proprio recorde </label>
                    <label class="col-md-6 resultPoints">{{TotalRecords}}</label><br />

                    <br />
                </div>
            </div>
        </div>
    </div>

</div>